$white: #FFFFFF;
$green: #A9EF9A;
$light-green: #DCEAD9;
$light-green: #DCEAD9;
$black: #000000;
$gray: #7C7C7C;
$light-gray: #F2F2F2;

.comment {
    background-color: $white;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    // height: 75px;
    width: 600px;
    display: grid;
    grid-template-columns: 60px 540px;
    grid-template-rows: 25px 50px;

    .commenter-info {
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 2;
        justify-self: start;
        align-self: center;
        font-size: small;
        margin-left: 10px;
        cursor: pointer;

        &:hover {
            color: $gray;
        }
        
        &:active {
            transform: scale(0.98);
        }
    }

    .comment-timestamp {
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
        align-self: center;
        margin-right: 10px;
        font-size: x-small;
    }

    .commenter-photo {
        grid-row: 2;
        grid-column: 1;
        justify-self: start;
        align-self: start;
        margin-left: 10px;
        height: 40px;  
        cursor: pointer;
        
        &:active {
            transform: scale(0.98);
        }
    }
    
    .comment-body {
        grid-row: 2;
        grid-column: 2;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        word-wrap: break-word;
    }
}