
$white: #FFFFFF;
$green: #A9EF9A;
$light-green: #DCEAD9;
$black: #000000;
$light-gray: #F2F2F2;
$gray: #7C7C7C;

.searched-clubs{
    margin-bottom: 30px;
    padding: 5px;
    background-color: $gray;
    border-radius: 10px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.5), 0 5px 30px 0 rgba(0, 0, 0, 0.5) inset;
    width: 300px;
    height: 320px;
    display: grid;
    grid-template-rows: 45px auto 45px;
    align-items: center;
    justify-items: center;
    gap: 5px;

    .title {
        grid-row: 1;
        color: $white;
        align-self: center;
        justify-self: start;
        margin-left: 20px;
    }

    .see-all-button {
        font-size: large;
        width: 150px;
        height: 30px;
        background-color: $white;
        box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.3);    
        border-radius: 5px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
            background-color: $green;
        }

        &:active {
            transform: scale(0.98);
        }
    }

    .clubs-container{
        grid-row: 2;
        align-self: start;
        display: grid;
        grid-template-rows: auto auto;
        gap: 15px;
        justify-items: center;
        align-items: center;

        .club{
            background-color: $white;
            box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.3);    
            border-radius: 25px;
            width: 220px;
            height: 100px;
            display: grid;
            grid-template-columns: auto auto;
            gap: 5px;
            cursor: pointer;
            transition: 0.3 ease;

            img {
                align-self: center;
                justify-self: center;
                width: 70px;
            }

            .club-name{
                align-self: center;
                justify-self: start;
            }

            &:hover {
                background-color: $light-gray;
            }

            &:active {
                transform: scale(0.98);
            }
        }
    }
}