$white: #FFFFFF;
$green: #A9EF9A;
$light-green: #DCEAD9;
$black: #000000;
$gray: #7C7C7C;

.searched-clubs{
    margin-bottom: 30px;
    padding: 5px;
    background-color: $gray;
    border-radius: 10px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.3);
    width: 730px;
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-items: center;
    gap: 5px;

    .clubs {
        background-color: $white;
        box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.3);    
        border-radius: 25px;
        width: 150px;
        height: 180px;
        display: grid;
        grid-template-rows: auto auto;

        img {
            align-self: center;
            justify-self: center;
            width: 110px;
        }

        .club-name {
            align-self: start;
            justify-self: center;
        }
    }
}